mixin persons
    +b.persons
        +e.video
            +e('iframe').video-frame(src="https://www.youtube.com/embed/B4_BvW3k9yU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

        +e('h2').sub-title(id="speakers") Спикеры
        +e.descriptiin У вас будет возможность лично пообщаться с любым спикером и задать ему свои вопросы.

        +e.list
            +e.person
                +e('img').person-photo(src="./img/persons/Alena_Gorskaya.jpg")
                +e('span').person-name Алена Горская
                +e('span').person-post Дизайнер Интерьера. Руководитель студии авторских интерьеров
            +e.person
                +e('img').person-photo(src="./img/persons/Soboleva.jpg")
                +e('span').person-name Дарья Соболева
                +e('span').person-post Интерьерный стилист
            +e.person
                +e('img').person-photo(src="./img/persons/pshe.jpg")
                +e('span').person-name Пшеничников Дмитрий
                +e('span').person-post Архитектор
            +e.person
                +e('img').person-photo(src="./img/persons/Alexandr_Mershiev.png")
                +e('span').person-name Александр Мершиев
                +e('span').person-post Декоратор, дизайнер интерьера
            +e.person
                +e('img').person-photo(src="./img/persons/GaKh.jpg")
                +e('span').person-name Юрий Гах
                +e('span').person-post Руководитель компании Ю2 Ремонт
            +e.person
                +e('img').person-photo(src="./img/persons/Maria_rubleva.jpg")
                +e('span').person-name Рублева Мария
                +e('span').person-post Дизайнер Интерьера. Руководитель студии RublevaDesign
            +e.person
                +e('img').person-photo(src="./img/persons/Nikita_Zub.jpg")
                +e('span').person-name Никита Зуб
                +e('span').person-post Дизайнер Интерьера
            +e.person
                +e('img').person-photo(src="./img/persons/Dina_Alexandrova.jpg")
                +e('span').person-name Дина Александрова
                +e('span').person-post Интерьерный фотограф
            +e.person
                +e('img').person-photo(src="./img/persons/Maria_Borovskvya.jpg")
                +e('span').person-name Мария Боровская
                +e('span').person-post Дизайнер Интерьера. Руководитель студии MB-DS

            +e.person
                +e('img').person-photo(src="./img/persons/Evgeniy_Makhnev.jpg")
                +e('span').person-name Евгений Махнев
                +e('span').person-post Дизайнер Интерьера
                
