mixin programm
    +b.programm
        +e.programm-wrapper
            +e('h2').sub-title(id="programm") Программа
            //- +e.description Вы узнаете, как прокачать свой инстаграм, как не допустить ошибок в работе со строителями, а еще будут перепланировки, авторские права и многое другое. 
            +e.days
                +e.day
                    +e('h3').day-number 1-ый День, 20 сентября

                    +e.day-programm
                        +e.day-item
                            +e('span').day-time 9:15
                            +e('span').day-detail Регистрация, кофе-брейк
                        +e.day-item
                            +e('span').day-time 10:00
                            +e('span').day-detail Начало конференции, приветствие организаторов
                        +e.day-item
                            +e('span').day-time 10:15
                            +e('span').day-detail «Создавай свой уникальный стиль» Алена Горская
                        +e.day-item
                            +e('span').day-time 12:00
                            +e('span').day-detail «Косяки на стройке, кто виноват?» Юрий Гах
                        +e.day-item
                            +e('span').day-time 13:30
                            +e('span').day-detail «Психология цвета» Мершиев Александр
                        +e.day-item
                            +e('span').day-time 14:30
                            +e('span').day-detail Общение со спикерами, обед.
                        +e.day-item
                            +e('span').day-time 16:00
                            +e('span').day-detail Презентация партнёров.
                        +e.day-item
                            +e('span').day-time 17:00
                            +e('span').day-detail «Планировки» Никита Зуб
                        +e.day-item
                            +e('span').day-time 18:30
                            +e('span').day-detail Розыгрыш, вручение подарков
                        +e.day-item
                            +e('span').day-time 18:45
                            +e('span').day-detail «Интерьерны стайлинг» Соболева Дарья
                        +e.day-item
                            +e('span').day-time 20:00
                            +e('span').day-detail Завершение первого дня конференции

                +e.day
                    +e('h3').day-number 2-ый День, 21 сентября

                    +e.day-programm
                        +e.day-item
                            +e('span').day-time 9:15
                            +e('span').day-detail Регистрация, кофе-брейк
                        +e.day-item
                            +e('span').day-time 10:00
                            +e('span').day-detail Начало второго дня, приветствие организаторов
                        +e.day-item
                            +e('span').day-time 10:15
                            +e('span').day-detail «Художественные методы создания интерьерной фотографии» Дина Александрова
                        +e.day-item
                            +e('span').day-time 12:00
                            +e('span').day-detail «Создание интерьеров в стиле ArtDeco и используемые отделочные материалы при создании этого стиля» Пшеничников Дмитрий
                        +e.day-item
                            +e('span').day-time 13:30
                            +e('span').day-detail «Имидж Дизайнера» Мария Боровская
                        +e.day-item
                            +e('span').day-time 14:30
                            +e('span').day-detail Общение со спикерами, обед.
                        +e.day-item
                            +e('span').day-time 16:00
                            +e('span').day-detail Презентация партнёров.
                        +e.day-item
                            +e('span').day-time 17:00
                            +e('span').day-detail «Минимализм. Тренды и современные материалы» Евгений Махнев
                        +e.day-item
                            +e('span').day-time 18:30
                            +e('span').day-detail Розыгрыш, вручение подарков
                        +e.day-item
                            +e('span').day-time 18:45
                            +e('span').day-detail «Путь от фриланса к созданию своего личного бренда» Мария Рублева
                        +e.day-item
                            +e('span').day-time 20:00
                            +e('span').day-detail Подведение итогов конференции
        

        +e.count-wrapper
            +e.count-container
                +e.count-item
                    +e('span').count-value 120
                    +e('span').count-description участников
                +e.count-item
                    +e('span').count-value 17
                    +e('span').count-description часов практической информации
                +e.count-item
                    +e('span').count-value 10
                    +e('span').count-description спикеров
